* {
    border: 1px solid red;
    margin: 0px;
    padding: 0px;

}

@media only screen and (min-width:320px) and (max-width:599px){ /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media only screen and (min-width:600px) and (max-width: 1025px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media only screen and (min-width:1026px) { /* hi-res laptops and desktops */ 

.containerGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13,100px);
    grid-template-areas: none;
    grid-gap: 10px;
}

.itemAContainer {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    background-color: brown;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: none;
    grid-gap: 10px;
}
.itemAA {
    grid-column: 1 / span 12;
    grid-row: 2 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
}
.itemABContainer {
    grid-column: 9 / span 4;
    grid-row: 2 / span 4;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: none;
    grid-gap: 10px;
}

.itemABA {
    grid-column: 1 / span 3;
}

.itemABB {
    grid-column: 4 / span 3;
}

.itemABC {
    grid-column: 7 / span 3;
}

.itemABD {
    grid-column: 10 / span 3;
}

.itemABA:hover,.itemABB:hover,.itemABC:hover,.itemABD:hover {
    background-color: gray;
}

.itemABA, .itemABB, .itemABC, .itemABD {
    font-size: 22px;
    grid-row: 1 / span 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemBContainer, .itemCContainer, .itemDContainer, .itemEContainer {
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-template-areas: none;
    grid-row: 2 / span 2;
    background-size: cover;
    border: 2px solid black;
}

.itemBContainer {
    grid-column: 1 / span 3;
    background-image: url(../Assets/AOvechkin8.jpeg);
}

.itemCContainer {
    grid-column: 4 / span 3;
    background-image: url(../Assets/MStLouis26.jpeg)
}

.itemDContainer {
    grid-column: 7 / span 3;
    background-image: url(../Assets/PKane88.jpeg)
}

.itemEContainer {
    grid-column: 10 / span 3;
    background-image: url(../Assets/TThomas30.jpeg)
}

.itemBA, .itemCA, .itemDA, .itemEA {
    grid-column: 2 / span 6;
    grid-row: 11 / span 1;
    background-color: white;
    text-align: center;
    border: 2px solid black;
}

.itemF {
    grid-column: 1 / span 12;
    grid-row: 4 / span 5;
    background-color: goldenrod
}

.itemGContainer, .itemHContainer, .itemIContainer {
    grid-row: 9 / span 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10,1fr);
    grid-template-areas: none;
    grid-gap: 10px;
}

.itemGContainer {
    grid-column: 1 / span 4;
}

.itemHContainer {
    grid-column: 5 / span 4;
}

.itemIContainer {
    grid-column: 9 / span 4;
}

.itemGA, .itemHA, .itemIA {
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    background-color:darkblue
}

.itemGBContainer, .itemHBContainer, .itemIBContainer {
    grid-column: 1 / span 12;
    grid-row: 3 / span 8;
    background-color:darkblue;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
    grid-template-areas: none;
    grid-gap: 10px;
}

.itemGBA, .itemHBA, .itemIBA {
    grid-column: 1 / span 6;
    grid-row: 1 / span 8;
    background-size: cover;
    float: left;
}

.itemGBA {
    background-image: url(../Assets/wildfire.jpg)
}

.itemHBA {
    background-image: url(../Assets/northern\ lights.jpeg)
}

.itemIBA {
    background-image: url(../Assets/riot\ police.jpeg)
}

.itemGBB {
    grid-column: 1 / span 12;
    grid-row: 1 / span 12;
    
}

.itemJContainer {
    grid-column: 1 / span 12;
    grid-row: 11 / span 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10,1fr);
    grid-template-areas: none;
    grid-gap: 10px;
    background-color: darkseagreen;
}

.itemJA {
    grid-column: 2 / span 10;
    grid-row: 3 / span 5;
}

.itemJB {
    grid-column: 4 / span 6;
    grid-row: 10 / span 2;
}

}