* {
    /*border: 1px solid red;*/
    margin: 0px;
    padding: 0px;
}

@media (min-width:320px){
 
    .itemBContainer {
        grid-column: 1 / span 12;
        grid-row: span 7;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8,1fr);
    }
    
    .itemBA {
        grid-column: 1 / span 12;
        grid-row: 1 / span 8;
        background-image: url(../Assets/mainelandscape.jpeg);
    }
    
    .itemBBContainer {
        grid-column: 2 / span 10;
        grid-row: 7 / span 1;
        display: grid;
        background-color: blanchedalmond;
        opacity: 80%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4,1fr);
        border-radius: 10px;
    }
    
    .hal {
        text-align: center;
        grid-column: 2 / span 10;
        grid-row: 2 / span 2;
        font-weight: bolder;
    
    }
}

@media (min-width:600px){

    .itemBContainer {
        grid-column: 1 / span 12;
        grid-row: span 6;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8,1fr);
    }
    
    .itemBA {
        grid-column: 1 / span 12;
        grid-row: 1 / span 8;
        background-image: url(../Assets/mainelandscape.jpeg)
    }
    
    .itemBBContainer {
        grid-column: 3 / span 8;
        grid-row: 7 / span 1;
        display: grid;
        background-color: blanchedalmond;
        opacity: 80%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4,1fr);
        border-radius: 10px;
    }
    
    .hal {
        text-align: center;
        grid-column: 2 / span 10;
        grid-row: 2 / span 2;
        font-weight: bolder;
    
    }

}

@media (min-width:1026px) {


.itemBContainer {
    grid-column: 1 / span 12;
    grid-row: span 6;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,1fr);
}

.itemBA {
    grid-column: 1 / span 12;
    grid-row: 1 / span 8;
    background-image: url(../Assets/mainelandscape.jpeg);
}

.itemBBContainer {
    grid-column: 3 / span 8;
    grid-row: 7 / span 1;
    display: grid;
    background-color: blanchedalmond;
    opacity: 80%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4,1fr);
    border-radius: 10px;
}

.hal {
    text-align: center;
    grid-column: 2 / span 10;
    grid-row: 2 / span 3;
    font-weight: bolder;

}

}

