* {
    /* border: 1px solid red;*/
     margin: 0px;
     padding: 0px;
 }
 
 @media (min-width:320px){
     
     .itemBContainer {
         grid-column: 1 / span 7;
         grid-row: span 1;
         display: flex;
         justify-content: center;
     }

     img {
         height:100%;
     }
     
     .itemCContainer {
             grid-column: 1 / span 7;
             grid-row: span 2;
             display:grid;
             grid-template-columns: repeat(12, 1fr);
             grid-template-rows: repeat(6,1fr);
             grid-template-areas: none;
     
     }
     
     form {
         grid-column: 1 / span 12;
         grid-row: 1 / span 6;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: repeat(6,1fr);
     
     }
     
     .itemCA {
         grid-column: 1 / span 9;
         grid-row: 1 / span 2;
     
     }
     
     .itemCB {
         grid-column: 10 / span 3;
         grid-row: 1 / span 2;
     
     }
     
     .itemCC {
         grid-column: 3 / span 8;
         grid-row: 4 / span 2;
     
     }
     
     #city, #state, #submit {
         width: 95%;
         height: 95%;
         text-align: center;
     }
     
     .itemDContainer {
         grid-column: 1 / span 7;
         grid-row: span 3;
         display: none;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: repeat(9,1fr);
         border:2px solid black;
     
     }
     
     .itemDA{
         grid-column: 1 / span 12;
         grid-row: 1 / span 2;
         text-align: center;
         font-size: 24px;
         font-family: fantasy;
         margin: 5px;
     
     }
     .itemDB{
         grid-column: 1 / span 6;
         grid-row: 3 / span 6;
         margin: 5px;
     }
     .itemDC{
         grid-column: 7 / span 6;
         grid-row: 3 / span 6;
         margin:5px;
     
     }

     .weatherImage {
         height: 100%;
         width: 100%;
     }
 
 }
 
 @media (min-width:600px){

     
     .itemBContainer {
         grid-column: 1 / span 12;
         grid-row: span 1;
         display: flex;
         justify-content: center;
     }
     
     .itemCContainer {
             grid-column: 1 / span 12;
             grid-row: span 1;
             display:grid;
             grid-template-columns: repeat(12, 1fr);
             grid-template-rows: repeat(6,1fr);
             grid-template-areas: none;
     
     }
     
     form {
         grid-column: 4 / span 6;
         grid-row: 1 / span 6;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: repeat(6,1fr);
     
     }
     
     .itemCA {
         grid-column: 1 / span 9;
         grid-row: 1 / span 2;
     
     }
     
     .itemCB {
         grid-column: 10 / span 3;
         grid-row: 1 / span 2;
     
     }
     
     .itemCC {
         grid-column: 4 / span 6;
         grid-row: 4 / span 2;
     
     }
     
     #city, #state, #submit {
         width: 95%;
         height: 95%;
         text-align: center;
     }
     
     .itemDContainer {
         grid-column: 3 / span 8;
         grid-row: span 3;
         display: none;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: repeat(8,1fr);
         border:2px solid black;
     
     }
     
     .itemDA{
         grid-column: 1 / span 12;
         grid-row: 1 / span 2;
         text-align: center;
         font-size: 24px;
         font-family: fantasy;
         margin: 5px;
     
     }
     .itemDB{
         grid-column: 1 / span 6;
         grid-row: 3 / span 6;
         margin: 5px;
     }
     .itemDC{
         grid-column: 7 / span 6;
         grid-row: 3 / span 6;
         margin:5px;
     
     }

     .weatherImage {
        height: 100%;
        width: 100%;
    }
 
 }
 
 @media (min-width:1026px) {
 
 .itemBContainer {
     grid-column: 1 / span 12;
     grid-row: span 1;
     display: flex;
     justify-content: center;
 }
 
 .itemCContainer {
         grid-column: 1 / span 12;
         grid-row: span 1;
         display:grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: repeat(6,1fr);
         grid-template-areas: none;
 
 }
 
 form {
     grid-column: 5 / span 4;
     grid-row: 1 / span 6;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(6,1fr);
 
 }
 
 .itemCA {
     grid-column: 1 / span 9;
     grid-row: 1 / span 2;
 
 }
 
 .itemCB {
     grid-column: 10 / span 3;
     grid-row: 1 / span 2;
 
 }
 
 .itemCC {
     grid-column: 4 / span 6;
     grid-row: 4 / span 2;
 
 }
 
 #city, #state, #submit {
     width: 95%;
     height: 95%;
     text-align: center;
 }
 
 .itemDContainer {
     grid-column: 1 / span 12;
     grid-row: span 2;
     display: none;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(9,1fr);
 
 }
 
 .itemDA{
     grid-column: 5 / span 4;
     grid-row: 1 / span 2;
     text-align: center;
     font-size: 24px;
     font-family: fantasy;
     margin: 5px;
     border: 2px solid black
 
 }
 .itemDB{
     grid-column: 5 / span 2;
     grid-row: 3 / span 6;
     margin: 5px;
 }
 .itemDC{
     grid-column: 7 / span 2;
     grid-row: 3 / span 6;
     margin:5px;
 
 }

 .weatherImage {
    height: 100%;
    width: 100%;
}
 
 
 }