@media (min-width:320px){

    .itemBContainer {
        grid-column: 1 / span 7;
        grid-row: span 6;
    }
}

@media (min-width:600px){

    .itemBContainer {
        grid-column: 1 / span 12;
        grid-row: span 6;
    }
}

@media (min-width:1026px){

    .itemBContainer {
        grid-column: 1 / span 12;
        grid-row: span 6;
    }
}