body {
    margin: 0px;
    padding: 0px;
}

nav {
    white-space: nowrap;
    width: 100%;
    background-color:black;
    height: 66px;
    top: 0px;
}


nav a {
    text-decoration: none;
    color:white;
    font-size:larger;
    padding: 8px;
    height: inherit;
    vertical-align: middle;
    display: table-cell;
}

nav a:visited {
    color:white
}

nav a:hover {
    background-color: gray;
}

nav ul {
    list-style-type: none;
    z-index: 100;
    margin: 0;
    padding: 0px;
    top: 0px;
    background-color: black;
    position: sticky;
    text-align: center;
    width:100%;
    display:inline-table;
    height:inherit;
}

nav ul li {
    float: right;
    height:inherit;
    vertical-align: middle;
    display:table;
    width: 107px
    
}

.homeNavigation {
    float: left;
}

.homepageHeroImage {
    position:relative;
    top: 0px;
    height: 600px;
    width: 100%;
    background-image:url(https://raw.githubusercontent.com/coxn1446/coxn1446.github.io/main/forest.jpeg)
}

.homepageQuote {
    z-index: 2;
    background-color: white;
    opacity: 80%;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 25%;
    bottom: 15%;
    padding:0px
}

.homepageQuoteText {
    padding: 8px;
    margin: 0px;
}